.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.home h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.create_post {
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-post-page {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}

.create-post-page h1 {
    margin-bottom: 2rem;
}

.create-post-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_profile_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.create-post-page textarea {
    width: 100%;
    resize: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
    min-height: 100px;
}

.create-post-page button {
    padding: 0.75rem 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-post-page button:hover {
    background-color: #0056b3;
}

.create-post-page .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.post {
    width: 500px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-author {
    color: #505050;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.post-bar{
    font-size: 0.8em;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.like-button, .comment-button {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.9em;
}

.like-button:hover, .comment-button:hover {
    background-color: #155db0;
}

.comments {
    margin-top: 20px;
}

.comment {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.comment-details {
    font-size: 0.8em;
    color: #666;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form input {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.comment-form button {
    align-self: flex-end;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
}

.comment-form button:hover {
    background-color: #155db0;
}